*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    background-color: #083b4c;
    margin: 0 auto;
    
}

.square {
    width: 120px;
    height: 120px;
    background-color: #1389b2;
    border: 1px solid #000000;
    
    
}

#grid {
    display: flex;
    flex-wrap: wrap;
}

.fizz {
    background-color: #0cd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzbuzz {
    background-color: #f0466f;
}